<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Math Game</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body ng-controller="GameCtrl">
    <section class="timer">
        Time remaining: {{ timeLeft }} s
        <button ng-click="startTime()">Start clock</button>
        <button ng-click="addTime()">Add time</button>
        <button ng-click="zeroTime()">Stop and zero clock</button>
        <button ng-click="resetTime()">Reset clock</button>
    </section>
    <section class="expression">
    </section>
    <section class="response">
        <button ng-click="response=0">Yes</button>
        <button ng-click="response=1">No</button>
        <p>{{ response }}</p>
    </section>
</body>
<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./js/app.js"></script>
</html>